body {
    background-color: #Fff;
    color: #464E47;
    font-family: 'Inter', Helvetica, "Trebuchet MS", Verdana, sans-serif;
    margin: 0;
}

.wrapper {
    width: 800px;
    margin: auto;
}

section {
    display: flex;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    flex-wrap: wrap;
}

#intro {
    font-size: 16pt;
    position: relative;
    background-color: khaki;
}

#viz {
    margin-top: 1em;
}

#viz:hover {
    cursor: pointer
}

#cta {
    margin: auto;
    justify-content: center;
}

#cta>a {
    display: block;
    padding: 1em;
    text-decoration: none;
    background-color: #464E47;
    color: #fff;
    font-weight: bold;
}


.lede {
    font-size: 14pt;
}

.sidebar-wrapper {
    background: linear-gradient(to right, khaki 50%, transparent 0) 0 0/100% 100% no-repeat;
}

.service-block, .bio-card {
    padding-right: 2em;
}

.service-block-wrapper {
    max-width: 50%;
}

#services {

}

#skills, #bio, #footer {
    border-top: 1px grey dashed;
}

#footer {
    font-size: 10pt
}

#skilltable {
    display: flex;
}

img.headshot {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

h2 {
    flex-basis: 100%;
    font-family: 'Helvetica', sans-serif;
}

li.thead {
    list-style: none;
    font-weight: 800;
    margin-left: -1em;

}

.leder {
    position: absolute;
    left: 10px;

}

.art {
    width: 100%;
    object-fit: cover;
}